h1 {
  margin: center;
}

table {
  margin-left: 50px;
}

.data-obj {
  margin-left: 25px;
}

.data-obj em {
  margin-left: 25px;
}

.relationships {
  margin-left: 25px;
}

.relationships em {
  margin-left: 25px;
}

.bus-int {
  margin-left: 25px;
}

.bus-int h4 {
  margin-left: 25px;
}

.bus-int p {
  margin-left: 25px;
}

.bus-int em {
  margin-left: 75px;
}
